.menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 40px;
    font-size: 16px;
    font-weight: 500;
    color: $global-font-color;
    line-height: 1;
    text-decoration: none;
    border-bottom: $global-border;

    &:hover {
      color: $inverse-color;
      text-decoration: none;
      background-color: $primary-color;
    }

    &.active > .menu {
      display: flex;
    }
  }

  &__icon {
    margin-left: 15px;
  }
}
