$breakpoint-sm:                             576px;  // Phone landscape
$breakpoint-md:                            768px;  // Tablet Landscape
$breakpoint-lg:                             992px; // Desktop
$breakpoint-xl:                            1200px; // Large Screens

$global-font-family: 'Montserrat', sans-serif;

$global-font-size: 14px;

$global-line-height: 1;

$primary-color: #429755;
$secondary-color: #55c56e;
$tertiary-color: #67dc81;
$inverse-color: #fff;

$global-font-color: #3a2623;
$global-link-color: #004a80;

$global-background-color: #fff;

$global-border: 1px solid rgba(0, 0, 0, 0.09);





